NODE_ENV=development
# db
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=hackforall
MONGO_USER=user
MONGO_PASS=pass
# files
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=hackforall
MINIO_SECRET_KEY=hackforall
# auth
COOKIE_NAME=cookie
JWT_SECRETS=shhhhh,test
COOKIE_REMEMBER_EXPIRE=1440
# mails
MAILER_HOST=smtp.ethereal.email
MAILER_PORT=587
MAILER_USER=caden47@ethereal.email
MAILER_PASS=GQvBFDNCBCpv5K9Rxm